body{
	    margin: 0;
	    padding: 0;
	    font-size: 15px;
	}
	
	.navigation-bar {
    width: 100%;  
    height: 80px; 
    background-color: #808080; 
    margin: 0;
	padding: 0;
	display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}		
	
	.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

	 ul li {

	    /*  list items in a row, without using float */
	    display: inline-block;
	    list-style-type: none;
	}
	


