<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Oswald', serif;
  font-size: 1.2em;
}-->


/* needed by bio page for quote */
.myQuote {
          background-image: url('../images/BIO/quoteBackground.jpg'); /*source https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg  */
          opacity: 0.65; 
	
	width:420px;
	height:275px;
	position:auto;
	
	text-align: center;
        font-family: 'Great Vibes', cursive;
	font-size: 20px;
        
	color: black ;
        
	margin: 10px;
                margin-left:10px;
                padding-top: 30px;
                padding-left: 10px; }
/* needed by bio page for quote  ends*/
/* needed by bio page float */
  .floatRight {
    float: right;
    width: ;
    height: ;
    margin: 10px;
    border: 20px;
    bottom: 300px;
  		}

  .floatLeft {
    float: left;
    width: ;
    height: ;
    margin: 20px ;
    border: 20px;
		}

  .floatClear {
    padding: 20px;
      overflow: auto;
		}
/* floats for BIO page end */

 


.nav ul {
  list-style: none;
  background-color: #444;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  #div1{
  color:red;
	height:300px;
	width:300px;
  
  }
 
.nav li {
    display: inline-block;
    margin-right: -4px;
  }
 .logo {
 	
 	margin:auto;
 	
    display: inline-block;
    height: 100px;
    text-decoration: none;
  	color: #fff;
  
 }
  
 .footer_icons {
 	
 	margin:auto;
 	
    display: inline-block;
    height: 50px;
    width: 50px;
    text-decoration: none;
  	color: #fff;
  
 }  
  
.footer {
    background: #444;
    padding: 10px 0;
}

.footer a {
    color: #fff;
    
    padding: 10px;
    border-right: 1px solid #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.footer a:first-child {
    border-left: 1px solid #444;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
}

=======
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

 /* needed by bio for quote */
        #myQuote { background-color: red;
          font-style: italic;
         color: black ;
         width: 400px;
         margin: 10px;
                margin-left:10px;
                padding-top: 30px;
                padding-left: 10px;
/* needed by bio for quote */
		
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  #div1{
  color:red;
	height:300px;
	width:300px;
  
  }
 
.nav li {
    display: inline-block;
    margin-right: -4px;
  }
 .logo {
 	
 	margin:auto;
 	
    display: inline-block;
    
    width: 50px;
    height: 50px;
    text-decoration: none;
  	color: #fff;
  
 }
.footer {
    background: #444;
    padding: 10px 0;
}

.footer a {
    color: #fff;
    
    padding: 10px;
    border-right: 1px solid #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.footer a:first-child {
    border-left: 1px solid #444;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


}


